* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --col-main: #1d5270;
    --text-col: #D3D3D3;

    --font-fam-primary: 'Poiret One', cursive;
    --font-fam-sec: 'Montserrat', sans-serif;
}

body {
    background-image: url(images/bGCompressed.png);
   /* background-color: #000F34;    */   
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
    
    z-index: -10;
}
/*
@media only screen and (max-width: 600px) {
    body {
        background-attachment: scroll;
    }
}   */

html {
    scroll-behavior: smooth;
}


section {
  /*  height: 100vh;
    position: relative; */
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    position: relative;
}


.section-heading {
    position: absolute;
    top: 150px;
    left: 10px;

    color: var(--text-col);
    font-family: 'Poiret One', cursive;
    text-transform: lowercase;
    
}

.section-heading::before {
    position: absolute;
    content: "";
    width: 2px;
    height: 100px;
    background-color: var(--text-col);
    left: 15px;
    bottom: 40px;
}
.section-heading::after {
    position: absolute;
    content: "";
    width: 2px;
    height: 200px;
    background-color: var(--text-col);
    top: 45px;
    left: 15px;
}

@media only screen and (max-width: 600px) {
    .section-heading::before {
        display: none;
    }
    .section-heading {
        top: 10px;
    }
}


/*------------------------------------------------------------------------------------  */
/* Menu */

.hamburger {
    position: fixed;
    z-index: 9999;
    right: 35px;
    top: 18px;
    width: 2rem;
    height: 1.5rem;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    transition: all 0.5s;
}

.hamburger span {
    width: 100%;
    height: 4px;
    border-bottom: 1px solid var(--text-col);
    border-radius: 20px;
    background-color: black;
    transition: all 0.5s;
}

.hamburger.active span {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(45deg);
    transition: all 0.5s;
}
.hamburger.active span:nth-child(2) {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    transform: translate(-50%, -50%) rotate(-45deg);
    transition: all 0.5s;
}

.menu {
    width: 100%;
    height: 60px;
    position: fixed;
    border-bottom: 2px solid var(--text-col);
    top: -50%;
    transition: all .8s;
    z-index: 900;
 /*   background-color: rgba(29, 83, 114, 0.25);    */
}
.menu.active {
    top: 0;
    transition: all .8s;
}

nav {
    height: 100%;
}

nav ul {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: 100%;
    list-style: none;
    margin-left: 25px;
}

.nav-link {
    padding: 0 20px;
    text-decoration: none;
    color: var(--text-col);
    font-family: 'Poiret One', cursive;
    font-size: 16px;
    cursor: pointer;
}
.nav-link:hover {
    color: white;
    text-transform: lowercase;
    transition: all 0.5s;
}

.nav-link img {
    width: 80px;
    object-fit: contain;
}

/*
.nav-socials {
    display: flex;
    flex-direction: row;
    margin-left: 40px;
}   */

@media only screen and (max-width: 849px) {
    .hamburger {
        top: 32px;
    }
    .menu {
        height: 100%;
        top: 0;
        left: 150%;
        background-color: var(--col-main);
    }
    .menu.active {
        left: 0;
    }
    nav ul {
        flex-direction: column;
        height: 60%;
        justify-content: space-evenly;
        margin-left: 0;
    }
}


/*------------------------------------------------------------------------------------  */
/* Landing Section */

#home {
    display: flex;
    align-items: center;
    justify-content: center;

    height: 100vh;
    width: 100%;

    position: relative;
}

.logo-splash {
    width: 500px;
}

.nav-socials {
    position: absolute;
    bottom: 25px;
    display: flex;
    flex-direction: row;
    font-size: 20px;
}

.nav-socials a {
    margin: 5px 10px;
    color: var(--text-col);
}
.nav-socials a:hover {
    color: white;
}

@media only screen and (max-width: 600px) {
    .logo-splash {
        width: 80%;
        margin-bottom: 120px;
    }
}



/*------------------------------------------------------------------------------------  */
/* Projects Section */

#projects {
 /*   background: #000F34;  */
    background: rgba(0, 0, 0, 0.75);
  /*  padding: 50px 0;  */
    color: var(--text-col);
}

.projects-container {
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.websites {
    padding: 100px 0;
}

.project {
    margin-bottom: 10px;
    padding-bottom: 5px;
    display: flex;
    align-items: first baseline;
    width: 100%;
}
.project-title {
    font-style: italic;

    font-size: 70px;
    white-space: initial;
    font-family: var(--font-fam-primary);
}
.project-title a {
    text-decoration: none;
    color: var(--text-col);
}
.project-title:hover {
    font-style: normal;
    text-transform: lowercase;
    font-variant: normal;
}

.project-desc {
    margin-left: 40px;
    font-family: 'Montserrat', sans-serif;
}


/*----------------------------------------------- */
/* Projects Section - Designs */

.designs {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
    padding: 100px 0;
    border-top: 1px solid var(--text-col);
    border-bottom: 1px solid var(--text-col);
}

.design-project {
    width: 30%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px;
    margin-bottom: 30px;
    height: 400px;

}

.img-container {
    width: 100%;
    height: 360px;
    overflow: hidden;
}
.design-project img {
    object-fit: cover;
    width: 100%;
    height: 100%;
    filter: grayscale(50%);
    transition: transform 0.75s ease;
    transform-origin: 50% 50%;
}
.design-project img:hover {
    transform: scale(1.1);
    width: 100%;
    filter: grayscale(0%);
}

.design-p-title {
    font-family: 'Poiret One', cursive;
    font-style: italic;
    margin-top: 15px;
}
.design-project p {
    margin-top: 15px;
    font-family: 'Montserrat', sans-serif;
}


@media only screen and (max-width: 999px) {
    .projects-container {
        width: 100%;
        margin-top: 25px;
    }
    .project {
        flex-direction: column;
        justify-content: center;
    }
    .project-title {
        font-size: 40px;
        display: flex;
        justify-content: flex-end;
    }   
    .designs {
        width: 90%;
    }
    .design-project {
        width: 45%;
    }
}

@media only screen and (max-width: 649px) {
    .project {
        width: 80%;
    }
    .designs {
        justify-content: center;
    }
    .design-project {
        width: 80%;
        height: 400px;
    }
}


/*------------------------------------------------------------------------------------  */
/* About Section */

#about {
   /* background: #1d5270c3;    */
   padding: 100px 0;
   border-bottom: 2px solid var(--text-col);
}

.about-container {
    width: 90%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.about-one {
    max-width: 600px;

    transform: skew(-10deg);
    border: 2px solid var(--text-col);
    border-radius: 32px;
    padding: 40px;
    background-color: var(--col-main);
    color: var(--text-col);
    margin: 0 40px 40px 40px;

    font-family: 'Montserrat', sans-serif;
    box-shadow: 1px 1px 22px rgba(0, 0, 0, 0.5);
}
.about-one h2 {
    transform: skew(10deg);
    margin-bottom: 32px;
    font-family: 'Poiret One', cursive;
    font-style: italic;
}
.about-one p {
    transform: skew(10deg);
    margin-bottom: 8px;
}

.about-one:nth-of-type(even) {
    transform: skew(10deg);
    background-color: var(--col-main);
    background-color: rgba(0, 0, 0, 0.6);
}
.about-one:nth-of-type(even) h2 {
    transform: skew(-10deg);
}
.about-one:nth-of-type(even) p {
    transform: skew(-10deg);
}



@media only screen and (max-width: 600px) {
    .about-one {
        transform: skew(0);
        margin: 20px;
        padding: 25px;
    }
    .about-one h2 {
        transform: skew(0);
    }
    .about-one p {
        transform: skew(0);
    }
    
    .about-one:nth-of-type(even) {
        transform: skew(0);   
    }
    .about-one:nth-of-type(even) h2 {
        transform: skew(0);
    }
    .about-one:nth-of-type(even) p {
        transform: skew(0);
    }
}



/*------------------------------------------------------------------------------------  */
/* Contact Section */


#contact {
    padding: 50px 0 100px;
}

.contact-container {
    height: 100%;
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    line-height: 24px;
    margin-bottom: 1rem;  
    text-align: center;
    color: var(--text-col);
    padding: 50px 25px;
}

.contact-container h1 {
    margin-bottom: 32px;
    font-family: var(--font-fam-primary);
    font-style: italic;
    
}

.contact-container p {
    font-family: var(--font-fam-sec);
    margin-bottom: 2px;
}

.contact-container a {
    color: var(--text-col);
}
.contact-container a:hover {
    color: white;
}

.email-link {
    font-family: var(--font-fam-sec);
    font-size: 26px;
    margin: 32px 0;
}
.email-link:hover {
    color: white;
}

.contact-logo {
    object-fit: contain;
    width: 150px;
    margin-top: 32px;
}


@media only screen and (max-width: 600px) {
    .contact-container {
        padding: 50px 12px;
    }
    .contact-container p {
        margin-bottom: 8px;
    }
}



/*
.logo-inner {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-evenly;
    background-color: var(--text-col);
    padding: 2px;
    overflow: hidden;
}
.logo-inner img {
    width: 200px;
    object-fit: contain;
    overflow: hidden;
    opacity: 1;
}       */
